[Unit]
Description="CheesyPic Photobooth Service"
After=graphical.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
WorkingDirectory=/home/pi/cheesypic_photobooth/build
ExecStart=/home/pi/cheesypic_photobooth/build/photobooth ../../cheesypic_data
StandardOutput=journal
StandardError=journal
Restart=always
User=pi

[Install]
WantedBy=graphical.target
